@media (max-width: 770px) {
    .image-container {
        padding: 2px;
    }

    .sold-overlay {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }
}

@media (max-width: 490px) {
    .burger-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .burger {
        padding: 15px;
    }

    .nav-list {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: -100vh;
        background-color: var(--nav-bg);
        transition: all 0.5s ease;
        z-index: 999999999;
    }

    .nav-list-child {
        margin: 25px;
    }

    .row-child {
        padding: 0px;
    }
}

.open {
    top: 12vh;
}

.lock {
    z-index: -998;
}