@media (max-width: 770px) {
    .image-container {
        padding: 2px;
    }

    .sold-overlay {
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
    }
}

@media (max-width: 490px) {
    .burger-container {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .burger {
        padding: 15px;
    }

    .nav-list {
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        top: -100vh;
        background-color: var(--nav-bg);
        transition: all 0.5s ease;
        z-index: 999999999;
    }

    .nav-list-child {
        margin: 25px;
    }

    .row-child {
        padding: 0px;
    }
}

.open {
    top: 12vh;
}

.lock {
    z-index: -998;
}


@media (max-width: 600px) {
    .background {
        height: 150vh;
    }
    .shop-row {
        flex-wrap: wrap;
    }
    .row-child {
        width: 50%;
    }
}

@media (max-width: 490px) {
    .container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section {
        width: 100%;
    }
    #blog {
        margin-top: 4vh;
    }
    #socials {
        width: 50%;
    }
    #model {
        width: 50%;
    }
}